@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models;
@model IEnumerable<SweetAndSavory.Models.Treat>

<h1>Treats for @User.Identity.Name</h1>


@if (Model.Any())
{
  <ul class="list-group list-group-flush">
    @foreach (Treat treat in Model)
    {
      <li class="list-group-item">@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
}
else
{
  <h3>No treats have been added yet!</h3>
}
<div class="hstack gap-3 pt-3 mt-3 border-top border-dark">
  <p>@Html.ActionLink("Add new treat", "Create", new { } , new {@class="btn btn-light"})</p>
  <p>@Html.ActionLink("See all treats", "Index", "Treats", new { }, new {@class="btn btn-light"})</p>
</div>