@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models;
@model List<SweetAndSavory.Models.Flavor>;

<h1>Flavors</h1>

@if (Model.Any())
{
  <ul class="list-group list-group-flush">
    @foreach (Flavor flavor in Model)
    {
      <li class="list-group-item">@Html.ActionLink($"{flavor.FlavorName}", "Details", new { id = flavor.FlavorId })</li>
    }
  </ul>
}
else
{
  <h3>No flavors have been added yet!</h3>
}

<div class="hstack gap-3 pt-3 mt-3 border-top border-dark">
  <p>@Html.ActionLink("Add new flavor", "Create", new {}, new {@class="btn btn-light"})</p>
  <p>@Html.ActionLink("Home", "Index", "Home", new {}, new {@class="btn btn-light"})</p>
  <p>@Html.ActionLink("See all flavors", "Index", "Flavors", new {}, new {@class="btn btn-light"})</p>
</div>